*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
footer, header, section {
	display: block;
}
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  clear: both;
}
.header, .container{
  padding-left: 30px;
  padding-right: 30px;
}
.break {
	width: 100%;
	padding: 0;
	background-color: #fff;
	color: #fff;
	clear: both;
}
.tweet-wrapper {
	width: 90%;
	padding: 5px 5px 5px 25px;
	color: #fff;
	border-radius: 5px;
	background: #fff;
	margin-left: 20px;
}
h1, h4, p {
  color: #648880;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
.logo p {
  border-bottom: 1px solid #dfe2e5;
}
.logo {
  
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 22px 0 0 0;
  text-transform: uppercase;
}
.logo:after {
	clear: both;
}
.account-tweet {
	font-size: 18px;
	line-height: 20px;
	margin: 4px 0;
	border-bottom: 2px solid #dfe2e5;
	font-weight: 200;
}
.tweet {
	font-size: 14px;
}
.footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  background: #293f50;
}
.footer small {
  float: left;
  font-weight: 400;
}
.feed {
  min-width: 960px;
  min-height: 400px;
  background: #E6D0AC;
  padding: 66px 0 44px 0;
  border-radius: 5px;
}